<%- include('include/_head') %>

        <section class="home-first-row">
                <h1>Ajouter une plante</h1>
                <a href="/" class="buttonlink update gobackcss">Retour</a>
        </section>

<%- include('include/_form') %>

<%- include('include/_footer') %>