<%- include('include/_head') %>
<%- include('include/_header') %>

    <section class="home-second-row">

        <%- include('include/_show') %>
        
    </section>


<%- include('include/_footer') %>