    <section class="home-first-row">
        <h1>Boutures actuellement disponibles</h1>
        <p>Pas d'achat par internet. Ceci est uniquement une présentation des boutures en ma
            possession.<br>Contactez-moi au 06.06.43.35.74 pour un achat ou pour plus d'informations.</p>
        <a href="/add_plant" class="buttonlink add addcss"><i class="fas fa-plus"></i>Ajouter une plante</a>
    </section>

    <div class="filter-menu">
        <div>
            <button class="cat-all buttonlinkapply current">Toutes</button>
            <button class="cat-peperomia buttonlinkapply">Peperomias</button>
            <button class="cat-interieur buttonlinkapply">Plantes d'intérieur</button>
            <button class="cat-carnivore buttonlinkapply">Plantes carnivores</button>
        </div>
    </div>