<!DOCTYPE html>
<html>

<head>
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-SYRT3GF6QE"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-SYRT3GF6QE');</script> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Marion Bassoulet - Plantes</title>
    <meta name="description" content="Présentation de mes boutures et plantes disponibles en ce moment">
    <meta name="keywords" content="boutures, plantes" />
    <meta name="author" content="Marion Bassoulet" />
    <meta name="copyright" content="Marion Bassoulet" />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="img/svg/plant.svg" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body></body>